---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// to avoid cross-browser compatibility issues
body {
	margin: 0;
	padding: 0;
}

/*table{
	border-collapse: collapse;
	border-spacing: 0;
	border:2px solid #000000;
	margin-top:10px;
	margin-bottom:10px;
}

th{
	border:2px solid #000000;
}

td{
	border:1px solid #000000;
	padding:3px;
}*/

// classes for background boxes




div.bgInfo {
	padding: 10px;
	border: 3px solid gray;
	margin: 10px;
	margin-bottom:20px;
	display:block;
	background-color: rgb(245,245,245);
	border-radius: 15px;
	clear:both;
}

div.bgImportant {
	padding: 10px;
	border: 3px solid rgb(230,100,100);
	margin: 10px;
	margin-bottom:20px;
	display:block;
	background-color: rgb(250,245,245);
	border-radius: 15px;
	clear:both;
}


div.bgDefinition {
	padding: 10px;
	border: 3px solid rgb(150, 150, 255);
	margin: 10px;
	margin-bottom:20px;
	display:block;
	background-color: rgb(250,250,255);
	border-radius: 15px;
	clear:both;
}

div.bgEdit {
	padding: 5px;
	padding-left:10px;
	border: 2px solid rgb(0, 150, 0);
	margin: 10px;
	margin-bottom:10px;
	display:block;
	background-color: rgb(250,250,250);
	border-radius: 5px;
	clear:both;
	font-family: "Courier New", Courier, monospace;
}

//overrides existing style for preformatted text within an "edit" box.
pre.PreformatEdit {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: inherit;
	background-color: inherit;
	font-size: 75%;
	overflow-x: auto;
}

div.bgTerminal {
	padding: 5px;
	border: 2px solid rgb(150, 150, 150);
	margin: 10px;
	margin-bottom:20px;
	display:block;
	background-color: rgb(250,250,250);
	border-radius: 5px;
	clear:both;
	font-family: "Courier New", Courier, monospace;
}

//overrides existing style for preformatted text within a "terminal" box.
pre.PreformatTerminal {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: inherit;
	font-size: 75%;
	background-color: inherit;
	overflow-x: auto;
}


div.bgPrerequisite {
	padding: 10px;
	border: 3px solid green;
	margin: 10px;
	margin-bottom:20px;
	display:block;
	background-color: rgb(250,250,250);
	border-radius: 15px;
	clear:both;
}





img.alignleft {
  display: inline; 
  float:left; 
  margin: 0 0 0 0; 
  clear:both; 
}

img.alignright {
  display: inline; 
  float:right; 
  margin: 0 0 0 0; 
  clear:both; 
}
img.aligncenter {
  display: block; 
  margin: auto; 
  clear:both; 
}



//Note for bg* classes: decided against css images because then the
//text doesn't flow around it.
//background-image: url("/images/info-32.png");
//background-repeat: no-repeat;
//background-position: 0px 0px;


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
