@charset "UTF-8";
body {
  margin: 0;
  padding: 0; }

/*table{
	border-collapse: collapse;
	border-spacing: 0;
	border:2px solid #000000;
	margin-top:10px;
	margin-bottom:10px;
}

th{
	border:2px solid #000000;
}

td{
	border:1px solid #000000;
	padding:3px;
}*/
div.bgInfo {
  padding: 10px;
  border: 3px solid gray;
  margin: 10px;
  margin-bottom: 20px;
  display: block;
  background-color: whitesmoke;
  /*border-radius: 15px;*/
  clear: both; }

div.bgImportant {
  padding: 10px;
  border: 3px solid #e66464;
  margin: 10px;
  margin-bottom: 20px;
  display: block;
  background-color: #faf5f5;
  /*border-radius: 15px;*/
  clear: both; }

div.bgDefinition {
  padding: 10px;
  border: 3px solid #9696ff;
  margin: 10px;
  margin-bottom: 20px;
  display: block;
  background-color: #fafaff;
  /*border-radius: 15px;*/
  clear: both; }

div.bgEdit {
  padding: 5px;
  padding-left: 10px;
  border: 2px solid #009600;
  margin: 10px;
  margin-bottom: 10px;
  display: block;
  background-color: #fafafa;
  /*border-radius: 5px;*/
  clear: both;
  font-family: "Courier New", Courier, monospace; }

pre.PreformatEdit {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: inherit;
  background-color: inherit;
  font-size: 75%;
  overflow-x: auto; }

div.bgTerminal {
  padding: 5px;
  border: 2px solid #969696;
  margin: 10px;
  margin-bottom: 20px;
  display: block;
  background-color: #fafafa;
  /*border-radius: 5px;*/
  clear: both;
  font-family: "Courier New", Courier, monospace; }

pre.PreformatTerminal {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: inherit;
  font-size: 75%;
  background-color: inherit;
  overflow-x: auto; }

div.bgPrerequisite {
  padding: 10px;
  border: 3px solid green;
  margin: 10px;
  margin-bottom: 20px;
  display: block;
  background-color: #fafafa;
  /*border-radius: 15px;*/
  clear: both; }

div.review {
  padding: 10px;
  border: 3px solid red;
  margin: 10px;
  margin-bottom: 20px;
  display: block;
  background-color: whitesmoke;
  /*border-radius: 15px;*/
  clear: both; }

pre.PreformatReview {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: inherit;
  font-size: 75%;
  background-color: inherit;
  overflow-x: auto; }

img.alignleft {
  display: inline;
  float: left;
  margin: 0 0 0 0;
  clear: both; }

img.alignright {
  display: inline;
  float: right;
  margin: 0 0 0 0;
  clear: both; }

img.aligncenter {
  display: block;
  margin: auto;
  clear: both; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /*font-weight: 300;*/
  color: #111;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  /*color: $brand-color;*/
  color: #666;
  text-decoration: none; }
  a:visited {
    /*color: darken($brand-color, 15%);*/ }
  a:hover {
    /*color: $text-color;*/
    /*text-decoration: underline;*/
    text­decoration: none;
    color: #333;
    outline: 0; }
  a:active {
    outline: 0; }
  a:focus {
    outline: thin dotted; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.nec-header {
  box-sizing: border-box;
  color: #434343;
  display: block;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 21.875px;
  height: 139px; }

.header-top {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #a6d2cd;
  background-image: none;
  background-origin: padidng-box;
  background-size: auto;
  box-sizing: border-box;
  color: #434343;
  display: block;
  font-size: 16px;
  zoom: 1;
  height: 36px; }

.header-top-page {
  display: block;
  margin-left: 142.5px;
  margin-right: 142.5px;
  max-width: 1140px;
  padding: 0px 0px 0px 0px;
  background-color: #a6d2cd; }

.nect-login {
  display: block;
  box-sizing: border-box;
  background-color: #a6d2cd;
  float: right; }

.nect-login a {
  color: black;
  box-sizing: border-box;
  display: inline-block;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: normal;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  zoom: 1; }

.nect-login a.new-tick {
  margin-right: 15px; }

.nect-login a:hover {
  background-color: #CADFDB; }

.header-main {
  color: #434343;
  display: block;
  font-size: 16px;
  line-height: 21.875px; }

.header-main-page {
  box-sizing: border-box;
  color: #434343;
  display: block;
  font-size: 16px;
  margin-left: 142.5px;
  margin-right: 142.5px;
  max-width: 1140px;
  padding: 0px 0px 0px 0px;
  zoom: 1; }

.logo-nect {
  box-sizing: border-box;
  color: #434343;
  display: block;
  float: left;
  padding: 30px 30px 30px 30px;
  zoom: 1; }

.menu-nect {
  box-sizing: border-box;
  color: #434343;
  display: block;
  float: right;
  zoom: 1; }

.menu-nect a {
  box-sizing: border-box;
  color: black;
  cursor: auto;
  display: inline;
  font-size: 16px;
  line-height: 103px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  zoom: 1; }

.menu-nect a.selected {
  color: #F7BB28 !important; }

.normal-block {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("/images/page-header-bg.jpg");
  background-origin: padding-box;
  background-size: cover;
  box-sizing: border-box;
  color: #434343;
  display: block;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 21.875px; }

.normal-block-page {
  box-sizing: border-box;
  color: #434343;
  display: block;
  margin-left: 119.5px;
  margin-right: 119.5px;
  padding: 10px 10px 10px 10px; }

.normal-block-page h3 {
  font-weight: normal;
  font-size: 23px;
  line-height: normal;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 0px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase; }

.site-header {
  background-color: white;
  min-height: 120px;
  position: relative; }

.logo-container {
  display: inline-block;
  float: left;
  margin-left: 60px;
  width: 400px;
  height: 120px;
  vertical-align: middle;
  background: url("/images/nectar_cloud_logo.jpg") no-repeat center left; }

/* unvisited link */
.menu-container a:link {
  color: black !important; }

/* visited link */
.menu-container a:visited {
  color: black !important; }

/* mouse over link */
.menu-container a:hover {
  color: black !important;
  text-decoration: none !important; }

/* selected link */
.menu-container a:active {
  color: black !important; }

.title-container {
  float: left;
  margin-left: 100px;
  height: 120px;
  line-height: 120px; }

.title-container span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }

.site-title {
  font-size: 26px;
  letter-spacing: -1px;
  margin-bottom: 0; }
  .site-title, .site-title:visited {
    color: #424242; }

.menu-container {
  background-color: #97C8C2;
  text-align: right;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 60px;
  font-size: 12px; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #ffffff;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
