<header class="site-header">
<div class="nec-header">
  <div class="header-top">
    <div class="header-top-page">
      <div class="nect-login">
        <a href="https://support.nectar.org.au/support/home">Support</a>
        <a href="http://cloud.nectar.org.au/contact/" class="new-tick">Contact</a>
        <b><a href="https://dashboard.rc.nectar.org.au/"><b>Login</b></a></b>
      </div>
    </div>
  </div>

  <div class="header-main">
    <div class="header-main-page">
      <div class="logo-nect">
        <img src='{{ site.baseurl }}/images/nectar_cloud_logo.jpg' alt="Nectar" height="43", width"248">
      </div>
      <div class="menu-nect">
        {% if (page.url == "/for-trainers.html") or (page.url contains "/video.html" or (page.url contains "/plan.html") or (page.url contains "/outline.html") %}
          <a href="{{ site.baseurl }}/">Self-paced Training</a>
          <a href="{{ site.baseurl }}/for-trainers.html" class="selected">Resources for Trainers</a>
        {% else %}
          <a href="{{ site.baseurl }}/" class="selected">Self-paced Training</a>
          <a href="{{ site.baseurl }}/for-trainers.html">Resources for Trainers</a>
        {% endif %}
      </div>
    </div>
  </div>

</div>

<div class="normal-block">
  <div class="normal-block-page">
    {% if (page.url == "/for-trainers.html") or (page.url contains "/video.html" or (page.url contains "/plan.html") or (page.url contains "/outline.html") %}
      <h3>Resources for Trainers</h3>
    {% else %}
      <h3>Self-paced Training</h3>
    {% endif %}
  </div>
</div>

</header>
