/**
 * Site header
 */

.nec-header {
  box-sizing: border-box;
  color: rgb(67,67,67);
  display: block;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 21.875px;
  height: 139px;
}

.header-top {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(166, 210, 205);
  background-image: none;
  background-origin: padidng-box;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(67, 67, 67);
  display: block;
  font-size: 16px;
  zoom: 1;
  height: 36px
}

.header-top-page {
  display: block;
  margin-left: 142.5px;
  margin-right: 142.5px;
  max-width: 1140px;
  padding: 0px 0px 0px 0px;
  background-color: rgb(166, 210, 205);
}

.nect-login {
  display: block;
  box-sizing: border-box;
  background-color: rgb(166, 210, 205);
  float: right;
}

.nect-login a {
  color: rgb(0,0,0);
  box-sizing: border-box;
  display: inline-block;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: normal;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  zoom: 1;
}

.nect-login a.new-tick {
  margin-right: 15px;
}

.nect-login a:hover {
  background-color: #CADFDB;
}

.header-main {
  color: rgb(67,67,67);
  display: block;
  font-size: 16px;
  line-height: 21.875px;
}

.header-main-page {
  box-sizing: border-box;
  color: rgb(67,67,67);
  display: block;
  font-size: 16px;
  margin-left: 142.5px;
  margin-right: 142.5px;
  max-width: 1140px;
  padding: 0px 0px 0px 0px;
  zoom: 1;
}

.logo-nect {
  box-sizing: border-box;
  color: rgb(67,67,67);
  display: block;
  float: left;
  padding: 30px 30px 30px 30px;
  zoom: 1;
}

.menu-nect {
  box-sizing: border-box;
  color: rgb(67,67,67);
  display: block;
  float: right;
  zoom: 1;
}

.menu-nect a {
  box-sizing: border-box;
  color: rgb(0,0,0);
  cursor: auto;
  display: inline;
  font-size: 16px;
  line-height: 103px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  zoom: 1;
}

.menu-nect a.selected {
  color: #F7BB28!important;
}

.normal-block {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0,0,0,0);
  background-image: url($page-bg-url);
  background-origin: padding-box;
  background-size: cover;
  box-sizing: border-box;
  color: rgb(67,67,67);
  display: block;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 21.875px;
}

.normal-block-page {
  box-sizing: border-box;
  color: rgb(67,67,67);
  display: block;
  margin-left: 119.5px;
  margin-right: 119.5px;
  padding: 10px 10px 10px 10px
}

.normal-block-page h3 {
  font-weight: normal;
  font-size: 23px;
  line-height: normal;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 0px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.site-header {
    background-color: white; //#efefef;
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 120px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.logo-container {
  display: inline-block;
  float: left;
  margin-left: 60px;
  width: 400px;
  height: 120px;
  vertical-align: middle;
  background:url($logo-url) no-repeat center left;
}

/* unvisited link */
.menu-container a:link {
    color: black!important;
}

/* visited link */
.menu-container a:visited {
    color: black!important;
}

/* mouse over link */
.menu-container a:hover {
    color: black!important;
    text-decoration: none!important;
}

/* selected link */
.menu-container a:active {
    color: black!important;
}

.title-container {
  float: left;
  margin-left: 100px;
  height: 120px;
  line-height: 120px;
}

.title-container span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.site-title {
    font-size: 26px;
    //line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    //float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.menu-container {
  background-color: #97C8C2;
  text-align: right;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 60px;
  font-size: 12px;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
