---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{page.number}}. {{ page.title }}</h1>
    <h1>{{ page.part }}</h1>
  </header>

  <!-- 
    Preprocessing: Determine which part number this is. To avoid having to set numbers 
    manually on each page, determine this here by the file name. 
    -->
  {% assign pagedata_avail = false %}
  {% assign pnum = page.number | plus:0 %}
  {% case pnum %}
  {% when 1 %}
  {%   assign pagedata = site.data.p01 %}
  {% when 2 %}
  {%   assign pagedata = site.data.p02 %}
  {% when 3 %}
  {%   assign pagedata = site.data.p03 %}
  {% when 4 %}
  {%   assign pagedata = site.data.p04 %}
  {% when 5 %}
  {%   assign pagedata = site.data.p05 %}
  {% when 6 %}
  {%   assign pagedata = site.data.p06 %}
  {% when 7 %}
  {%   assign pagedata = site.data.p07 %}
  {% when 8 %}
  {%   assign pagedata = site.data.p08 %}
  {% when 9 %}
  {%   assign pagedata = site.data.p09 %}
  {% when 10 %}
  {%   assign pagedata = site.data.p10 %}
  {% else %}
  {%   assign pagedata_avail = false %}
  {% endcase %}

  {% assign psize = pagedata.size | plus:0%}
  {% if psize == 0 %} 
      {% assign pagedata_avail = false %}
  {% else %}
      {% assign pagedata_avail = true %}
  {% endif %}

  {% assign current_file_path = page.url | split:"/" %}
  {% assign current_file = current_file_path.last %}
  {% assign current_toplevel_index = 0 %}
  {% assign last_toplevel_index = 0 %}
  {% if pagedata_avail %}
  	{% for packagepart in pagedata %}
		{% assign level = packagepart.level | plus:0 %}
		{% if level <= 1 %}
			{% assign last_toplevel_index=forloop.index0 %}
		{% endif %}
		{% if current_file == packagepart.file  %}
			{% assign current_index = forloop.index0  %}
			{% assign current_toplevel_index=last_toplevel_index %}
			{% break %}
		{% endif %}
	{% endfor %}
  {% endif %}

  {% if pagedata_avail %}

  <!--
    List of the individual parts of this module (so not all content gets crammed on one page).
    Rendering this list first is necessary 
  -->
  <p> Sections of this module:</p>
  
	{% assign activate_submenu = false %}
	{% for packagepart in pagedata %}
		{% assign level = packagepart.level | plus:0 %}
	 
		{% if forloop.index0 == current_toplevel_index  %}
			{% assign activate_submenu = true %}
		{% endif %}
		{% if level <= 1 and forloop.index0 > current_toplevel_index  %}
			{% assign activate_submenu = false %}
		{% endif %}

		{% assign indents = "" %}
		{% if activate_submenu %}
			{% for i in (2..level) %}
				{% assign indents = indents |append:"&nbsp;&nbsp;" %}
			{% endfor %}
		{% endif %}

		{% if level <= 1 or activate_submenu %}
			{% if current_file == packagepart.file  %}
				  <b>
			{% endif %}
			
			<a href="{{page.contentspath}}/sections/{{ packagepart.file }}">{{indents}} {{ packagepart.name }}</a>
			{% if current_file == packagepart.file  %}
				</b>
			{% endif %}
			<br/>
		{% endif %}
	{% endfor %}
  <br/>

  <h1> {{ pagedata[current_index].name }} </h1>

  {% endif %} <!-- endif for pagedata_avail -->
  

  <!--
  Content of page
  -->
  <article class="post-content">
    {{ content }}
  </article>


  {% if pagedata_avail %}
  <!--
  Previous section / Next section links. Very simple design to start with.
  -->
  <p>
  {% if current_file != pagedata.first.file  %}
  	{% assign prev_index = current_index | minus:1 %}
	<a href="{{page.contentspath}}/sections/{{pagedata[prev_index].file}}">Previous section</a>
  {% endif %}
  &nbsp; &nbsp; &nbsp;
  {% if current_file != pagedata.last.file  %}
  	{% assign next_index = current_index | plus:1 %}
	<a href="{{page.contentspath}}/sections/{{pagedata[next_index].file}}">Next section</a>
  {% endif %}
  </p>
  {% endif %} <!-- endif for pagedata_avail -->

  <p><a href="{{page.contentspath}}">Back to training package contents</a></p>
</div>
